.card{
    background-color: #D6E5E3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    padding: 50px 0 0 50px;
    margin: 0 auto; 
}


@media screen and (min-width: 0) {
    .card {
        padding: 5rem 0 0 1rem;
    }
}

@media screen and (min-width: 768px) {
    .card {
        padding: 5rem 0 0 2.5rem;
    }
}

@media screen and (min-width: 992px) {
    .card {
        padding: 5rem 0 0 5rem;
    }
}