.card__botao{
    background-color: #6B8F71;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
    padding: 10px;
    margin: 0 0 20px 0;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;



    
}


.card__botao:hover{
    background-color: #212922;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

}